/*Général*/
html,
body {
    font-family: Raleway, Roboto, Helvetica, sans-serif;
    max-width: 992px;
    margin: 0px;
}


h1{
    font-family: Shrikhand;
    font-size: 27px;
}
h2{
    font-weight: lighter;
    font-size: 19px;
    border-bottom: solid #99E2D0;
    padding-bottom: 10px;
}

h4{
    font-weight: lighter;
}

a {
    color: unset;
    text-decoration: none;
}

.flexCentre {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexAround {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flexBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.column {
    display: flex;
    flex-direction: column
}
/*Loading spinner*/
.spinner {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .outer-circle {
    width: 60px;
    height: 60px;
    border: 5px solid #ccc;
    border-top-color: #3498db;
    border-radius: 50%;
    animation: spin 1s ease-in-out infinite;
  }
  
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
 
  
  .spinner {
    position: fixed;
    z-index: 9999;
    background-color: rgba(255, 255, 255, 0.8); /* Fond semi-transparent pour le spinner */
  }
  
  /* animation fade-out pour masquer le spinner */
  @keyframes fade-out {
    0% { opacity: 1; }
    100% { opacity: 0; }
  }
  
  .spinner.fade-out {
    animation: fade-out 3s;
    animation-delay: 0s;
    opacity: 0;
  }
  
    

/*Couleurs*/
:root{
    --color-lightgrey: #f2f2f2;
}

.colorViolet {
    color: #9356DC;
}

.colorRose {
    color: #FF79DA;
}

.colorVert {
    color: #99E2D0;
}

.colorGrisclair {
    color: var(--color-lightgrey);
}

.backGrisfonce {
    background-color: grey;
}

.backGrisclair {
    background-color: var(--color-lightgrey);
}

.backGris {
    background-color: rgb(232, 232, 232);
}


  
/*Nav*/
.location {
    width: 100%;
    justify-content: center;
    box-shadow: 0px -3px 0px #e4e8dd
}

.city {
    margin-right: 15px;
}

.iconSize {
    margin-right: 10px;
}

.fa-solid {
    margin-right: 15px;
}

.sizeLogo {
    padding: 16px;
}

/*Explorer restaurants*/

div.flexBetween.column.backGrisclair {
    text-align: center;
    padding: 10px 0px 55px;
}

.explorButton {
    color: white;
    font-size: medium;
    font-weight: bold;
    cursor: pointer;
}

.explorBordure {
    border-radius: 20px;
    border: none;
    height: 54px;
    width: 250px;
    background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
}

/*Fonctionnement*/
.foncRest {
    padding: 10px;
}

/*Style de cartes*/
.foncCard {
    padding: 20px;
    margin: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 0.5px solid #f2f2f2;
    box-shadow: 0px 4px 0px #e4e8dd;
}

.marginCard {
    margin-bottom: 60px;
}

/*Restaurants*/
.restauCardposition {
    position: relative;
}
.restaurCardsizeimg {
    object-fit: cover;
}

.restauCard {
    background-color: white;
    box-shadow: 0px 5px 20px #999;
    border-radius: 15px;
    height: 215px;
    width: 325px;
    margin-bottom: 20px;
}

.restauCardimage {
    height: 65%;
    width: 100%;
    border-radius: 15px 15px 0px 0px;
    object-fit: cover;
}

.restauCardcontain h3 {
    margin: 10px 15px 7px 11px;
    font-size: large;
    font-weight: bold;
}

.restauCardcontain span {
    margin-left: 11px;
}

aside.backGrisclair {
    padding: 25px;
    margin: -10px;
}

/*Coeur*/
.heartMargin {
    margin-left: 290px;
}

.heartGrad:hover {
    background: linear-gradient(to left top, #9356DC, #FF79DA);
    display: inline-block;
}

.restauTitre1 {
    margin-bottom: -15px;
}

/*Nouveau*/
.restauNouveau {
    background-color: #99E2D0;
    box-shadow: 0px 5px 20px #999;
    border-radius: 2px;
    height: 25px;
    width: 88px;
    position: absolute;
    top: 15px;
    right: 15px;
    text-align: center;
    padding-top: 7px;
    color: green;
    font-weight: bold;
}

/*Footer*/
.blocFoot {
    padding: 10px;
}

.imgFoot {
    filter: invert(100%);
}

section.blocFoot.backGrisfonce {
    padding: 15px;
}

.footerContain p {
    margin: 5px;

}

.footerContain {
    margin-top: 10px;
    margin-left: -5px;
    color: white;
    font-weight: bold;
}

.iconProp {
    justify-content: flex-start;
    margin-left: 0px
}

.iconPart {
    justify-content: flex-start;
    margin-left: 0px;
}

.fa-solid {
    margin-left: 5px;
    margin-right: 5px;
}

i.fa-solid.fa-handshake-angle {
    font-size: 11px;
}



@media screen and (min-width: 768px) {
    /* styles pour les écrans dont la largeur est supérieure ou égale à 768px */
    .restauCardcontain{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
  }
  
  @media screen and (min-width: 1024px) {
    /* styles pour les écrans dont la largeur est supérieure ou égale à 1024px */
    .restauCard{
        height: auto;
        width: 390px;
    }
    .restauCardimage{
        height: 250px;
    }
    .heartMargin{
        margin-left: 334px;
    }
  }
  
  